html, body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background-color: #172755;
}

.header .header-container {
  max-width: 1185px;
  height: 140px;
  padding: 0 15px 0 15px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-container .header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-container .header_logo .header_logo-1 {
  max-width: 40px;
  max-height: 40px;
  padding: 0 13px 0 0;
}

.header .header-container .header_logo .header_logo-2 {
  max-width: 132px;
}

.header .header-container .header_burger {
  display: none;
}

.header .header-container .header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-container .header_menu .header_menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .header-container .header_menu .header_menu-list .menu-link {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  font-size: 16px;
  padding: 0 10px 0 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .header-container .header_menu .header_menu-list .menu-link:hover {
  opacity: 1;
}

.header .header-container .header_menu .header_menu-btn {
  margin: 0 0 0 20px;
  padding: 0 0 0 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.header .header-container .header_menu .header_menu-btn .menu-btn {
  background-color: inherit;
  color: #ffffff;
  opacity: 0.5;
  border: none;
  outline: none;
  padding: 0 10px 0 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .header-container .header_menu .header_menu-btn .menu-btn:hover {
  opacity: 1;
}

.header .header-container .header_menu .header_menu-btn .outline {
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 10px 25px 10px 25px;
}

.main {
  width: 100%;
  background-color: #172755;
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.main .background-img1 {
  position: absolute;
  top: -30%;
}

.main .main-container {
  max-width: 1185px;
  margin: auto;
  padding: 0 15px 0 15px;
  z-index: 5;
}

.main .main-container .promo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main-container .promo-container .promo_text {
  margin: 80px 0 125px 0;
}

.main .main-container .promo-container .promo_text .promo_text-header {
  margin: 0 0 30px 0;
  font-size: 50px;
}

.main .main-container .promo-container .promo_text .promo_text-paragraph {
  font-size: 18px;
  opacity: 0.5;
  margin: 0 0 35px 0;
  line-height: 27px;
}

.main .main-container .promo-container .promo_text .promo_text-btn {
  color: #ffffff;
  background-color: #EF2A82;
  border: none;
  border-radius: 20px;
  padding: 13px 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.main .main-container .promo-container .promo_text .promo_text-btn:hover {
  background-color: #ff4d9c;
  -webkit-box-shadow: 10px 10px 10px -10px rgba(255, 255, 255, 0.1);
          box-shadow: 10px 10px 10px -10px rgba(255, 255, 255, 0.1);
}

.main .main-container .promo-container .promo_img {
  position: absolute;
  right: -110px;
}

.main .main-container .promo-container .promo_img .img-hero1 .img1 {
  border-radius: 30px;
  -webkit-box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.3);
          box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.3);
}

.main .main-container .promo-container .promo_img .img-hero1 .img-hero2 {
  position: absolute;
  top: 23%;
  right: 60%;
}

.main .main-container .promo-container .promo_img .img-hero1 .img-hero2 .img2 {
  border-radius: 30px;
  -webkit-box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.3);
          box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.3);
}

.main::after {
  background: inherit;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  border-bottom: 12px solid #EF2A82;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  bottom: 0;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

.description {
  width: 100%;
  padding-top: 150px;
  background-color: #E5E5E5;
  color: #172755;
}

.description .description-container {
  max-width: 1185px;
  margin: auto;
  padding: 0 15px 180px 15px;
}

.description .description-container .description_header {
  text-align: center;
  margin-bottom: 80px;
}

.description .description-container .description_header .description_header-text {
  font-size: 40px;
  margin: 10px 0 30px 0;
}

.description .description-container .description_header .description_header-paragraph {
  font-size: 20px;
  opacity: 0.8;
  line-height: 27px;
}

.description .description-container .description_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description .description-container .description_options .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description .description-container .description_options .option .option_text {
  text-align: center;
}

.description .description-container .description_options .option .option_text .option-header {
  font-size: 18px;
  margin: 26px 0 10px 0;
}

.description .description-container .description_options .option .option_text .option-paragraph {
  opacity: 0.8;
  line-height: 22px;
}

.description .description-container .description_diagrams {
  margin: 130px 0 0 0;
}

.description .description-container .description_diagrams .diagrams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description .description-container .description_diagrams .diagrams .diagrams_text {
  margin-right: 125px;
}

.description .description-container .description_diagrams .diagrams .diagrams_text .diagrams_text-header {
  font-size: 35px;
  margin: 0 0 30px 0;
}

.description .description-container .description_diagrams .diagrams .diagrams_text .diagrams_text-paragraph {
  font-size: 18px;
  line-height: 25px;
}

.description .description-container .description_diagrams .diagrams .diagrams_text-reverse {
  margin: 0 0 0 110px;
}

.description .description-container .description_diagrams .diagrams .diagrams-img {
  max-width: 600px;
  border-radius: 35px;
  -webkit-box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
          box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
}

.description .description-container .description_diagrams .diagrams-reverse {
  margin: 110px 0 110px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.cost {
  width: 100%;
  background-color: #172755;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.cost .background-img-2 {
  position: absolute;
  bottom: -12.5%;
  right: 0;
  z-index: -1;
}

.cost .cost-container {
  max-width: 1185px;
  margin: auto;
  padding: 0 15px 100px 15px;
  text-align: center;
}

.cost .cost-container .cost_header {
  text-align: center;
}

.cost .cost-container .cost_header .cost_header-text {
  font-size: 40px;
  padding: 95px 0 0 0;
}

.cost .cost-container .cost_header .cost_header-paragraph {
  font-size: 18px;
  opacity: 0.8;
  margin: 20px 0 80px 0;
}

.cost .cost-container .cost_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: auto;
}

.cost .cost-container .cost_cards .card {
  background-color: #0F1F4B;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 340px;
  margin: 0 10px 0 10px;
}

.cost .cost-container .cost_cards .card .card-name .card-name_header {
  font-size: 30px;
  margin: 50px 102px 10px 102px;
}

.cost .cost-container .cost_cards .card .card-name .card-name_paragraph {
  font-size: 18px;
  opacity: 0.5;
}

.cost .cost-container .cost_cards .card .card-hr {
  margin: 35px 40px 0 40px;
  background-color: #2A407C;
  border: none;
  height: 1px;
}

.cost .cost-container .cost_cards .card .card-value {
  margin: 28px 0 40px 0;
}

.cost .cost-container .cost_cards .card .card-value .value {
  font-size: 60px;
  font-weight: 700;
}

.cost .cost-container .cost_cards .card .card-value .value .value-dollar {
  font-size: 35px;
}

.cost .cost-container .cost_cards .card .card-value .value-caption {
  opacity: 0.5;
}

.cost .cost-container .cost_cards .card .card-btn {
  color: #ffffff;
  background-color: #0F1F4B;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 15px 70px 15px 70px;
  border-radius: 30px;
  margin: 0 0 65px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cost .cost-container .cost_cards .card .card-btn:hover {
  background-color: #EF2A82;
  border: none;
  -webkit-box-shadow: 0px 18px 50px -15px #192a59;
          box-shadow: 0px 18px 50px -15px #192a59;
}

.cost .cost-container .cost_cards .card:hover {
  background-color: #E5E5E5;
  color: #0F1F4B;
  -webkit-box-shadow: 0px 18px 50px -15px #192a59;
          box-shadow: 0px 18px 50px -15px #192a59;
}

.cost .cost-container .cost_cards::-webkit-scrollbar {
  display: none;
}

.cost::before {
  background: inherit;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  border-top: 12px solid #EF2A82;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  bottom: 0;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

.footer {
  background-color: #172755;
  width: 100%;
}

.footer .footer-container {
  max-width: 1185px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 15px 35px 15px;
  border-top: 1px solid #2A407C;
}

.footer .footer-container .footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-container .footer_logo .footer_logo-1 {
  margin: 0 10px 0 0;
}

.footer .footer-container .footer_nav .footer_nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-container .footer_nav .footer_nav-list .footer_nav-link {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  font-size: 16px;
  padding: 0 10px 0 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer .footer-container .footer_nav .footer_nav-list .footer_nav-link:hover {
  opacity: 1;
}

.footer .footer-container .footer_links .footer_link {
  margin: 0 0 0 20px;
}

@media screen and (min-width: 831px) and (max-width: 1439px) {
  .main .main-container .promo-container .promo_text {
    margin: 80px 0 0 0;
  }
  .main .main-container .promo-container .promo_img {
    position: relative;
    margin: 30px 0 0 0;
  }
  .description .description-container .description_diagrams .diagrams .diagrams_text {
    margin-right: 25px;
  }
  .description .description-container .description_diagrams .diagrams .diagrams_text-reverse {
    margin-left: 25px;
  }
  .description .description-container .description_diagrams .diagrams .diagrams-img {
    max-width: 500px;
  }
  .cost .background-img-2 {
    display: none;
  }
  .cost .cost-container .cost_cards {
    overflow-x: auto;
  }
  .cost .cost-container .cost_cards::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 830px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    position: fixed;
    z-index: 3;
  }
  .header .header-container {
    height: 70px;
  }
  .header .header-container .header_logo {
    position: relative;
    z-index: 3;
  }
  .header .header-container .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header .header-container .header_burger span {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header .header-container .header_burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header .header-container .header_burger::before, .header .header-container .header_burger::after {
    content: '';
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 100%;
    height: 2px;
  }
  .header .header-container .header_burger::before {
    top: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header .header-container .header_burger::after {
    bottom: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header .header-container .header_burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header .header-container .header_burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header .header-container .header_menu {
    position: fixed;
    display: block;
    top: -120%;
    left: 0;
    background-color: #172755;
    margin-top: 70px;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header .header-container .header_menu .header_menu-list {
    display: block;
  }
  .header .header-container .header_menu .header_menu-list li {
    padding: 10px;
  }
  .header .header-container .header_menu .header_menu-list li .menu-link {
    font-size: 22px;
  }
  .header .header-container .header_menu .header_menu-btn {
    display: block;
    margin: 15px 0 0 0;
    padding: 0;
    border-left: 2px solid #EF2A82;
  }
  .header .header-container .header_menu .header_menu-btn .menu-btn {
    display: block;
    font-size: 22px;
    opacity: 0.8;
    margin: 10px 0 10px 20px;
    padding: 0;
    text-transform: uppercase;
  }
  .header .header-container .header_menu .header_menu-btn .outline {
    border: none;
    padding: 0;
  }
  .header .header-container .header_menu.active {
    top: 0;
  }
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
  }
  .main {
    padding: 90px 0 20px 0;
  }
  .main .background-img1 {
    display: none;
  }
  .main .main-container .promo-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main .main-container .promo-container .promo_text {
    margin: 10px 0 30px 0;
  }
  .main .main-container .promo-container .promo_img {
    position: static;
  }
  .main .main-container .promo-container .promo_img .img-hero1 {
    top: 0;
    left: 0;
  }
  .main .main-container .promo-container .promo_img .img-hero1 img {
    width: 100%;
  }
  .main .main-container .promo-container .promo_img .img-hero1 .img-hero2 {
    display: none;
  }
  .description {
    padding-top: 75px;
    background-color: #E5E5E5;
  }
  .description .description-container {
    padding: 0 15px 60px 15px;
  }
  .description .description-container .description_header {
    text-align: left;
    margin-bottom: 50px;
  }
  .description .description-container .description_options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .description .description-container .description_options .option {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .description .description-container .description_options .option .option-icon {
    margin: 20px 30px 10px 0;
  }
  .description .description-container .description_options .option .option_text {
    text-align: left;
  }
  .description .description-container .description_options .option .option_text .option-header {
    margin: 0 0 7px 0;
  }
  .description .description-container .description_diagrams {
    margin: 90px 0 0 0;
  }
  .description .description-container .description_diagrams .diagrams {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 50px 0;
  }
  .description .description-container .description_diagrams .diagrams .diagrams_text {
    margin: 0 0 20px 0;
  }
  .description .description-container .description_diagrams .diagrams .diagrams_text .diagrams_text-header {
    margin: 0 0 15px 0;
  }
  .description .description-container .description_diagrams .diagrams .diagrams-img {
    width: 100%;
  }
  .description .description-container .description_diagrams .diagrams-reverse {
    margin: 0 0 50px 0;
  }
  .cost .background-img-2 {
    display: none;
  }
  .cost .cost-container {
    padding: 0 15px 50px 15px;
  }
  .cost .cost-container .cost_header .cost_header-text {
    padding: 55px 0 0 0;
  }
  .cost .cost-container .cost_header .cost_header-paragraph {
    margin: 20px 0 50px 0;
  }
  .cost .cost-container .cost_cards {
    overflow-x: auto;
  }
  .cost .cost-container .cost_cards::-webkit-scrollbar {
    display: none;
  }
  .footer .footer-container {
    padding: 25px 15px 25px 15px;
  }
  .footer .footer-container .footer_nav {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */